body {
  margin: 0;

  color: #fff;
  font-family: "PT Sans", sans-serif;
}

/* global */

h1 {
  margin-block-start: 0;
  margin-block-end: 0;

  font-size: 84px;
}

.button {
  margin-top: 16px;
  padding: 16px;

  background-color: #b48a4e;
  color: #fff;
  text-decoration: none;
}

/* header */

.aot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-image: url(img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding: 16px;
}

header img {
  width: 100px;
}

/* navbar */

.navlink {
  margin-left: 16px;

  color: #fff;
  text-decoration: none;
}

.navlink:hover {
  color: #b48a4e;
}

.nav-image {
  width: auto;
  height: 24px;

  margin-left: 16px;
}

/* footer */

.footnote {
  text-align: center;
}
