/*
global color
yellow
#b48a4e
*/

body {
  margin: 0;

  color: #fff;
  font-family: "PT Sans", sans-serif;
}

/* global */

h1 {
  margin-block-start: 0;
  margin-block-end: 0;

  font-size: 84px;
}

h2 {
  margin-block-start: 0;
}

input {
  flex: 1;

  height: 41px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.button {
  padding: 16px;

  background-color: #b48a4e;
  color: #fff;
  text-decoration: none;
}

.mt-16 {
  margin-top: 16px;
}

/* header */

.aot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-image: url(img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding: 16px;
}

header img {
  width: 100px;
}

/* navbar */

.navlink {
  margin-left: 16px;

  color: #fff;
  text-decoration: none;
}

.navlink:hover {
  color: #b48a4e;
}

.nav-image {
  width: auto;
  height: 24px;

  margin-left: 16px;
}

.nav-image:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px #fff);
}

/* quicklinks section */

.section-quick-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 80px 80px;

  background-color: #000;
}

.quick-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #b48a4e;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.quick-link img {
  width: 200px;
  height: 200px;
}

/* festival section */

.section-buy-ticket {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: #272727;
}

.img-buy-ticket {
  height: 280px;
}

.festival-info {
  flex: 1;

  height: 200px;

  padding: 40px;
}

.seperator {
  width: 1px;
  height: 200px;

  margin-right: 10px;

  background-color: #fff;
}

.container-buy-ticket {
  display: flex;
  justify-content: center;

  width: 300px;
}

/* slogan section */

.section-slogan {
  padding: 80px 80px;

  color: #b48a4e;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

/* video section */

.section-video {
  height: 600px;

  background-image: url("./img/bottom.png");
  background-size: cover;
  background-position: center;
}

/* footer */

footer {
  display: flex;

  padding: 80px 80px;

  background-color: #000;
}

.half-width {
  width: 50%;
}

.footer-left {
  display: flex;
  align-items: flex-end;

  padding-right: 16px;

  font-size: 24px;
  font-weight: 700;
}

.footer-center {
  display: flex;
  justify-content: center;

  margin-bottom: 16px;

  gap: 32px;
}

.footer-icon {
  height: 32px;
}

.footer-form {
  display: flex;
}

.footer-button {
  width: 200px;

  border-width: 0;
}

/* footnote */

.footnote {
  padding: 32px;

  background-color: #000;
  text-align: center;
}

.footnote a {
  color: #8ebaf8;
  text-decoration: none;
}
